/*@import "scrollbars.css";*/

:root {
  --color-bg: #323F4E;
  --color-fg: #FF6666;
}

/* fix invisible checkboxes in firefox                        */
/* https://github.com/mate-desktop/mate-themes/tree/master/desktop-themes/BlackMATE */
input, textarea, select {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

a[class="file"],
a[class="dir"],
a[class="symlink"] {
    color: #2EB8E6 !important;
}

a:visited[class="file"],
a:visited[class="dir"],
a:visited[class="symlink"] {
    color: #FF6666 !important;
}

/* New Tab Flash */
:root{--newtab-textbox-background-color:#323F4E;}

#browser vbox#appcontent tabbrowser,
#content, 
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
    background: #323F4E !important
}

.tab-line {
display : none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: #81A1C1 !important;
    background-color: #323F4E !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #323F4E !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before, 
.tabbrowser-tab::after{
  display: none !important;

}
tab
{
    background-color: #323F4E !important;
    font-weight: thin !important;
    color : #81A1C1 !important;
}


.tab-content[selected="true"]
{
    background-color: #323F4E !important;
    font-weight: bold !important;
    color : #81A1C1 !important;
}

#nav-bar-customization-target {
  background-color: #323F4E !important;
}


.tabbrowser-tab{ opacity: 0.5 }
.tabbrowser-tab:hover{ opacity: 0.75 }
.tabbrowser-tab[selected]{ opacity: 1 }

hbox#urlbar[focused=true] {
    color: #81A1C1 !important;
}

#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
    background-color: #323F4E !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.urlbar-history-dropmarker,
#star-button,
#identity-box {
    display: none !important;
}

#urlbar{
    color : #81A1C1 !important;
    background-color: #323F4E !important;
    background: none !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: none !important;
    #margin: 9px !important;
}

#urlbar-background
{
    font-size: 13px !important;
    color: inherit !important;
    background-color: #323F4E !important;
    box-shadow: 100px !important;
    margin: 0px !important;
    padding: 0px !important;
    background-clip: padding-box !important;
    min-height: 28px !important;
    /*border-radius: 13px !important;*/
    border: none !important;
    padding-right: 5px !important;
    padding-left: 4px !important;
    margin-left: -5px !important;
    margin-right: 0px !important;
}


#urlbar:hover{
  box-shadow: none !important;
}

#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
.findbar-textbox {
  color : #81A1C1 !important;
  font-weight: bold !important;
  /*background-color: #323F4E !important;*/
}
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }

/*Tabs below nav bar*/
#nav-bar { 
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar { 
  -moz-box-ordinal-group: 2 !important;
}
#titlebar { 
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{ 
  margin-top: 0px;
  padding-top:0px !important; 
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}
/*#navigator-toolbox { --tabs-border-color: transparent !important; }*//* remove weird line*/

/* separator line between preferences and add-on icons */
#nav-bar, #PersonalToolbar, #toolbar-menubar, #TabsToolbar, findbar {
    border: 0 !important;
    background: var(--color-bg) !important;
    /*border-bottom: 1px solid var(--color-fg) !important;*/
}

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {
    border-image-slice: 0 !important;
}

/*Hide tabs bar if one tab is opened*/
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}


